<ion-view title="product" hide-nav-bar="true" id="page2" class=" ">
    <link rel="stylesheet" href="stylesheets/product.css" />
    <ion-content id="product">
        <div id="product-heading3">
            <img src="images/flechegauche.png" ng-click="back()" />
            <h1 id="ProductName" ng-model="productName">{{productName}}</h1>
        </div>
        <div id="jaugeContainer">
            <h1 id="ProductNote" ng-model="productGrade">{{productGrade}}</h1>
            <img id="jauge" src="images/A.png" />
        </div>
        <div id="BetterLabel">
            Meilleures propositions
        </div>
        <div id="BetterProduct">
            <label ng-model="recommendedName">{{recommendedName}}</label>
            <img src="images/epinard.png" />
        </div>
        <div id="details">
            <label>détails</label>
        </div>
        <img id="showDetails" src="images/flechebas.png" />
        <!--<form id="product-form2" class="list ">
            <ion-item class="range range-balanced " id="product-range2">100
                <input type="range" value="50" min="0" max="100" name="productValue">
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="product-list-item3">Sucre
                <i class="icon ion-android-checkmark-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right energized  " id="product-list-item4">Sel
                <i class="icon ion-alert-circled"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="product-list-item5">Acide gras saturé
                <i class="icon ion-android-sad"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="product-list-item6">Matière grasse
                <i class="icon ion-ios-flame-outline"></i>
            </ion-item>
            <ion-item class="assertive  " id="product-list-item7" ui-sref="scanner">E250 - Nitrite de sodium</ion-item>
        </form>-->
        <!--<button id="product-button5" class=" button button-positive  button-block icon" ng-click="back()"> Retour</button>-->
    </ion-content>
</ion-view>