<ion-view title="product" hide-nav-bar="true" id="page2" class=" ">
    <ion-content id="product" padding="true" class="manual-ios-statusbar-padding">
        <h1 id="product-heading3" style="color:#000000;" class=" ">Coca cola</h1>
        <form id="product-form2" class="list ">
            <ion-item class="range range-balanced " id="product-range2">100
                <input type="range" value="50" min="0" max="100" name="productValue">
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="product-list-item3">Sucre
                <i class="icon ion-android-checkmark-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right energized  " id="product-list-item4">Sel
                <i class="icon ion-alert-circled"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="product-list-item5">Acide gras saturé
                <i class="icon ion-android-sad"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="product-list-item6">Matière grasse
                <i class="icon ion-ios-flame-outline"></i>
            </ion-item>
            <ion-item class="assertive  " id="product-list-item7" ui-sref="scanner">E250 - Nitrite de sodium</ion-item>
        </form>
        <button id="product-button5" class=" button button-positive  button-block icon ion-ios-camera-outline "ng-click="scan()">Scan</button>
    </ion-content>
</ion-view>