<ion-view title="Scanner" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h1 id="scanner-heading2" style="color:#000000;text-align:center;" class=" ">Checkin'food</h1>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="scanner-button4" class=" button button-positive  button-block icon ion-ios-camera-outline" ng-click="scan()">Scan</button>
    </ion-content>
</ion-view>