<ion-view title="Scanner" hide-nav-bar="true" id="page1" class=" ">
    <link rel="stylesheet" href="stylesheets/scanner.css" />
    <ion-content id="scanner" padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div id="scanner-heading2">
            <img id="logo" src="images/logo.png" />
        </div>
        <div id="explanation">
            <img id="help" src="images/main.png" />
        </div>
        <div id="scan-zone">
            <img id="scanner-button4" src="images/boutton.png" ng-click="scan()" />
        </div>
    </ion-content>
</ion-view>